@model List<eCom.EntityLayer.Concrete.BasketItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_eComLayout.cshtml";
}

<h1>Sepetim</h1>

<table>
</table>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Ürün Açıklaması</th>
        <th>Fiyat</th>
        <th>Ürün Resmi</th>
        <th>Miktar</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
            <tr>
                <td>@item.Item.Id</td>
                <td>@item.Item.ItemName</td>
                <td>@item.Item.ItemDescription</td>
                <td>@item.Item.ItemPrice</td>
                <td>@item.Item.ItemImage</td>
                <td>@item.Quantity</td>  
                <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            </tr>
    }
</table>
<a href="#" class="btn btn-outline-info">Satın Al</a>
