@model eCom.EntityLayer.Concrete.Item
@{
    ViewData["Title"] = "NewItem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Ürün Ekleme</h1>

<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.ItemName)
    @Html.TextBoxFor(x => x.ItemName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ItemPrice)
    @Html.TextBoxFor(x => x.ItemPrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ItemImage)
    @Html.TextBoxFor(x => x.ItemImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ItemQuantity)
    @Html.TextBoxFor(x => x.ItemQuantity, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ItemDescription)
    @Html.TextAreaFor(x => x.ItemDescription, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Ürün Kaydet</button>
</form>