@model List<eCom.EntityLayer.Concrete.BItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_eComLayout.cshtml";
}

<h1>Sepetim</h1>

<table>
</table>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Ürün Açıklaması</th>
        <th>Fiyat</th>
        <th>Miktar</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.BItemName</td>
            <td>@item.BItemDescription</td>
            <td>@item.BItemPrice</td>
            <td>@item.BItemQuantity</td>  
            <td><a href="/Basket/DeleteFromBasket/@item.Id" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/Basket/BuyItems/" class="btn btn-outline-info">Satın Al</a>
